@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear{
	clear      : both;
	overflow   : hidden;
	width      : 0 !important;
	height     : 0 !important;
	min-height : 0 !important;
	min-width  : 0 !important;
	border     : 0 none !important;
	float      : none !important;
}

.container{
	width: 950px;
	margin: 0 auto;
}

body{
	background-image: url('images/bg.png');
	background-repeat: repeat;
	font-family: 'BebasNeueRegular', Arial, sans-serif;
}

/************************   HEADER ***************************/

header {
	width              : 940px;
	height             : 110px;
	position           : fixed;
	top                : 0;
	margin             : 0 auto;
	background-image   : url('images/sprite_interface.png');
	background-color   : transparent;
	background-repeat  : no-repeat;
	background-position: 0 -490px;
	z-index: 100;
}

header hgroup{
	width              : 264px;
	height             : 158px;
	background-image   : url('images/sprite_interface.png');
	background-color   : transparent;
	background-repeat  : no-repeat;
	background-position: 0 -790px;
	position           : absolute;
	left               : 342px;
	z-index            : 3;
}

header span.wheel{
	width               : 46px;
	height              : 46px;
	position            : absolute;
	left                : 450px;
	top                 : 125px;
	background-image    : url('images/sprite_interface.png');
	background-repeat   : no-repeat;
	background-position : 0 -960px;
	z-index             : 5;
}

header span.pin {
	width                             : 28px;
	height                            : 24px;
	background-image                  : url('images/sprite_interface.png');
	background-position               : 0 -760px;
	background-repeat                 : no-repeat;
	z-index                           : 2;
	top                               : 73px;
	left                              : 80px;
	position                          : absolute;
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

header hgroup h1.risk{
	color         : white;
	font-family   : 'BebasNeueRegular', Arial, sans-serif;
	font-size     : 25px;
	margin-left   : 50px;
	text-transform: uppercase;
}

header hgroup h2.risk{
	color         : #00abba;
	font-family   : 'BebasNeueRegular', Arial, sans-serif;
	font-size     : 15px;
	text-transform: uppercase;
	position      : absolute;
	top           :110px;
	left          : 0;
	text-align    : center;
	width         : 260px;
	font-weight   : normal;
}
header nav.main-menu{
	padding : 50px 49px 0 52px;
}

header nav.main-menu menu{

}

header nav.main-menu menu li{
	float     : left;
	list-style: none;
	padding   : 0 10px;
}

header nav.main-menu menu li a {
	text-decoration       : none;
	text-transform        : uppercase;
	color                 : #333230;
	width                 : 100px;
	padding               : 45px 20px 18px 20px;
	text-align            : center;
	cursor                : pointer;
	background-image      : url('images/sprite_interface.png');
	background-repeat     : no-repeat;
	background-position-y :-600px;
	font-family           : 'BebasNeueRegular', Arial, sans-serif;
	font-size             : 16px;
}

header nav.main-menu menu li:hover a,header nav.main-menu menu li.active a {
	background-position-y : -680px;
	color                 : #00abba;
}

header nav.main-menu menu li.start a {
	background-position-x : -13px;
}

header nav.main-menu menu li.second a {
	background-position-x : -113px;
}

header nav.main-menu menu li.third a {
	background-position-x : -213px;
}

header nav.main-menu menu li.forth a {
	background-position-x : -313px;
}

header nav.main-menu menu li.fifth a {
	background-position-x : -413px;
}

header nav.main-menu menu li.sixth a {
	background-position-x : -513px;
}

/*****************************  CONTENT ***************************/

div.show-content {
	position : fixed;
	top      : 0;
	left     : 0;
	right    : 0;
	bottom   : 0;
}

div.train {
	position           : relative;
	left               : -866px;
	top                : -2840px;
	width              : 3010px;
	height             : 3010px;
	background-image   : url('images/path.svg');
	background-position: center center;
	-webkit-transform-origin: center center;
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

div.zoom{
	position: absolute;
	top     :0px;
	left    :0px;
}

div.train > div {
	width                   : 1180px;
	height                  : 500px;
	position                : absolute;
	-webkit-transform-origin: center top;
	overflow                : auto;
	padding-bottom: 250px;
}

div.train > div div.imgholder {
	width               : 940px;
	height              : 400px;
	margin-bottom       : 40px;
	background-image    : url('images/sprite_bkg_slideshows.png');
	background-size     : 100% auto;
	background-repeat   : no-repeat;
	padding             : 1px;
	background-position : left bottom;
}

div.imgholder img{
	display    : block;
	width      : 100%;
	height     : 92%;
	margin-top : 18px;
}

div.slogan {
	position : absolute;
	top      : 130px;
	left     : 160px;
	z-index  : 2;
}

div.slogan h4 {
	font-size       : 34px;
	font-family     : 'BebasNeueRegular', Arial, sans-serif;
	background-color: #222;
	border-radius   : 20px;
	color           : white;
	padding         : 0 20px;
	margin-bottom   : 5px;
	display         : block;
	width           : 50px;
	text-align      : center;
}

div.slogan p {
	background-color : #f8c323;
	border-radius    : 20px;
	padding          : 3px 20px;
	font-size        : 28px;
	font-family      : 'BebasNeueRegular', Arial, sans-serif;
	color            : white;
}

div.imgholder div.quot {
	width   : 320px;
	height  : 390px;
	position: absolute;
	z-index : 2;
	top     :20px;
	right   : 270px;
}

div.quot span.qmarkl{
	width              : 136px;
	height             : 160px;
	left               : 0;
	top                :-20px;
	position           : absolute;
	z-index            : 3;
	background-image   : url('images/sprite_interface.png');
	background-position: 0 0;
}

div.quot span.qmarkr{
	width              : 65px;
	height             : 81px;
	right              : 30px;
	bottom             :20px;
	position           : absolute;
	z-index            : 3;
	background-image   : url('images/sprite_interface.png');
	background-position: 0 -180px;
}

div.quot p.quotslog {
	background-image   : url('images/sprite_interface.png');
	background-position: 0 -1450px;
	height             : 388px;
	padding            : 0 70px;
	text-align         : center;
	vertical-align     : middle;
	display            : table-cell;
	font-size          : 30px;
}

div.train > div div.content-wraper{
	width : 940px;
}

div.train > div div.content-wraper p{
	width : 540px;
}

div.train > div.first-content {
	left : 1020px;
	top  : 3000px;
}

div.content-wraper hgroup {
	margin-bottom: 20px;
	position     : relative;
}

div.content-wraper hgroup:before{
	content     : '';
	background  : transparent url('images/sprite_interface.png') no-repeat;
	position    : absolute;
	width       : 40px;
	left        : 50%;
	top         : 0;
	margin-left : -20px;
	height      : 53px;
}

div.content-wraper hgroup h3{
	background  : transparent url('images/bkg_header-lines.png') repeat-x center center;
	font        : 56px/normal 'bebas_neueregular';
	color       : #333230;
	text-shadow : 4px 4px rgba(51,50,48,0.1);
	text-align  : center;
}

div.content-wraper hgroup h5{
	font-size : 14px;
	color     : #7a7976;
}

div.content-wraper ul{
	list-style: none;
	width     : 940px;
	margin    : 0 auto;
}

div.content-wraper ul li{
	background-image : url('images/bkg_content.png');
	background-repeat: repeat;
	width            : 225px;
	margin-right     : 10px;
	position         : relative;
	float            : left;
	min-height       : 100px;
}

div.content-wraper ul li .yellow{
	width               : inherit;
	height              : inherit;
	background-image    : url('images/box_hover.jpg');
	background-position : -600px -600px;
}

div.content-wraper ul li .yellow:hover{
	background-position : 0px 0px;
}

div.content-wraper ul li .yellow p{
	width     : inherit;
	height    : inherit;
	word-wrap : break-word;
}

div.content-wraper ul li span.plus{
	background-image   : url('images/button_more.png');
	background-repeat  : no-repeat;
	background-position: center bottom;
	width              : 220px;
	height             : 37px;
	position           : absolute;
	bottom             : 10px;
	left               : 45%;
}

div.train > div.second-content {
	left : 2270px;
	top  : 2170px;
	-webkit-transform: rotate3d(0,0,1,-60deg);
}

div.train > div.third-content {
	left : 2170px;
	top  : 700px;
	-webkit-transform: rotate3d(0,0,1,-120deg);
}

div.train > div.forth-content {
	left : 810px;
	top  : 0px;
	-webkit-transform: rotate3d(0,0,1,-180deg);
}

/***************************  SLIDER ***************************/

div.slide {
	width    : 940px;
	height   : 434px;
	position : relative;
	z-index  : 1;
}

div.slide > div {
	width          : 940px;
	height         : 434px;
	position       : absolute;
	z-index        : -1;
	background-size: 100% auto;
}

span.pre{
	background-image   : url('images/sprite_interface.png');
	background-position: 0 -1010px;
	width              : 54px;
	height             : 44px;
	position           : absolute;
	z-index            : 2;
	left               : 5%;
	top                : 45%;
}

span.next{
	background-image   : url('images/sprite_interface.png');
	background-position: 0 -1110px;
	width              : 54px;
	height             : 44px;
	position           : absolute;
	z-index            : 2;
	right              : 5%;
	top                : 45%;
}

div.slide1{
	background-image : url('images/slides/slide6.png');
}

div.slide2{
	background-image : url('images/slides/slide31.png');
}

div.slide3{
	background-image : url('images/slides/slide21.png');
}

div.slide4{
	background-image : url('images/slides/slide12.png');
}

/***************************  FOOTER  ****************************/

footer{
	width               : 950px;
	height              : 305px;
	position            : fixed;
	bottom              : -270px;
	margin              : 0 auto;
	background-image    : url('images/sprite_interface.png');
	background-position : -120px -2550px;
	z-index             : 100;
	-webkit-transition  : all 900ms;
}

footer span.trigger{
	background-image    : url('images/sprite_interface.png');
	background-position : 0px -2980px;
	width               : 120px;
	height              : 37px;
	position            : absolute;
	left                : 43%;
	top                 : -15px;
}

footer div.source {
	position : absolute;
	top      : 120px;
	left     : 660px;
}

footer div.source ul.sources {
	list-style-type : none;
}

div.source ul.sources li {
	padding-left        : 15px;
	background-image    : url('images/footer_menu_plus.gif');
	background-repeat   : no-repeat;
	background-position : left center;
}

div.source ul.sources li a {
	font-size       : 13px; 
	color           : #777;
	text-decoration : none;
	letter-spacing  : 1px;
	font-weight     : normal;
}

div.source ul.sources li a:hover {
	color : #00abba;
}

footer div.copyright {
	position  : absolute;
	bottom    : 8px;
	left      : 437px;
	width     : 70px;
	color     : #888;
	text-align: center;
}

footer div.copyright a {
	color           : #00abba;
	text-decoration : none;
	width           : 70px;
	text-align      : center;
	letter-spacing  : 2px;
}

footer div.copyright a:hover {
	text-decoration : underline;
}

/************************  3D ANIMATION  ***********************/

.zoomoutin {
	-webkit-animation-name     : zoomoutin;
	-webkit-animation-duration : 3300ms;
	animation-name             : zoomoutin;
	animation-duration         : 3300ms; 
}

@-webkit-keyframes zoomoutin {
  0%   { -webkit-transform : scale(1);}
  50%  { -webkit-transform : scale(0.8);}
  100% { -webkit-transform : scale(1);}  
}